@import '/src/globals.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-navigation{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.container-left{
    list-style: none;
    display: flex;
    padding-top: 4px;
    width: auto;
    margin-right: 20px;
}

.container-right{
    list-style: none;
    display: flex;
}

.container-right a{
    font-size: 24px;
    font-weight: 500;
    color: var(--main-color-white);
    text-decoration: none;
    padding: 27px 30px;
    transition: 0.3s;
}

.container-left a{
    font-size: 26px;
    font-weight: 500;
    color: var(--main-color-white);
    text-decoration: none;
    padding: 27px 25px;
    transition: 0.3s;
}

.container-left a:hover{
    box-shadow: 0 -5px 0 #fff inset,
    500px 0 0 rgba(255, 255, 255, 0.02) inset;
}

.container-right a:hover{
    box-shadow: 0 -5px 0 #fff inset,
    500px 0 0 rgba(255, 255, 255, 0.02) inset;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


@media(max-width: 992px){
        .container-left{
            display: none;
        }
        .header-navigation{
            justify-content: center;
        }

}

@media(max-width: 768px){
        .container-right a{
            font-size: 20px;
            padding: 27px 25px;
        }
}

@media(max-width: 679px){
    .container-right a{
        font-size: 18px;
        padding: 27px 20px;
    }
}

@media(max-width: 557px){
    .container-right {
        position: fixed;
        left: -100%;
        top: 69px;
        gap: 15px;
        flex-direction: column;
        background-color: var(--main-color-black);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding-bottom: 15px;
    }


    .container-right.active{
        left: 0;
    }

    .container-right a{
        box-shadow: none;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .container-right a:hover{
        box-shadow: none;
    }


}



