@import '/src/globals.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-navigation{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.container-left{
    list-style: none;
    display: flex;
    padding-top: 4px;
    width: auto;
    margin-right: 20px;
}

.container-right{
    list-style: none;
    display: flex;
}

.container-right a{
    font-size: 28px;
    font-weight: 500;
    color: var(--main-color-white);
    text-decoration: inherit;
    padding: 0 30px;
}

.container-left a{
    font-size: 28px;
    font-weight: 500;
    color: var(--main-color-white);
    text-decoration: inherit;
    padding: 0 25px;
}

a:hover {
    text-decoration: none;
    transition: 200ms linear 0s;
    outline: 0 none;
    color: #7643E6;
}



