@import '/src/globals.css';


.icon-list{
    color: white;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    padding-top: 15px;
}

.icons{
    font-size: 34px;
    margin: 0 30px;
    padding: 0 20px;
    text-decoration: none;
    color: var(--main-color-blue);
}