#timeline {
    margin: 0 auto;
    max-width: 1400px;
    padding: 90px 0;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: #ffffff;
}

.timeline-component-bg {
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 30px;
    margin: 0 20px 20px 20px;
}

.timeline-component-btm {
    margin-bottom: 0;
}

.timeline-mid {
    background: #ffffff;
}

.timeline-point {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 0;
}

.timeline-point-btm {
    top: initial;
    bottom: 0;
}

.timeline-date-right {
    text-align: right;
    font-size: 20px;
}

.timeline-date, .timeline-date-right{
    font-size: 20px;
    margin: 0 20px;
}

.timeline-title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.timeline-paragraph {
    margin-top: 5px;
    line-height: 1.5;
    font-size: 24px;
}

@media(max-width: 635px){
    .timeline-title{
        font-size: 28px;
    }
    .timeline-component-bg{
        margin: 0 15px 20px 15px;
    }

    .timeline-paragraph{
        font-size: 24px;
    }
}

@media(max-width: 620px){
    .timeline-component-bg{
        padding: 10px 20px;
    }
}

@media(max-width: 596px){
    .timeline-title{
        font-size: 22px;
    }
    .timeline-paragraph{
        font-size: 18px;
    }
    .timeline-date, .timeline-date-right{
        font-size: 18px;
    }
}

@media(max-width: 492px){
    .timeline-component-bg{
        padding: 5px 10px;
    }
}

@media(max-width: 447px){
    .timeline-title{
        font-size: 20px;
    }
    .timeline-paragraph{
        font-size: 16px;
    }
}

@media(max-width: 410px){
    .timeline-component-bg{
        margin: 0 11px 20px 11px;
    }
}

@media(max-width: 390px){

}


