#timeline {
    margin: 0 auto;
    max-width: 1400px;
    padding: 90px 0;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: #ffffff;
}

.timeline-component {
    margin: 0 20px 20px 20px;
}

.timeline-component-bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 30px;
}

.timeline-component-btm {
    margin-bottom: 0;
}

.timeline-mid {
    background: #ffffff;
}

.timeline-point {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 0;
}

.timeline-point-btm {
    top: initial;
    bottom: 0;
}

.timeline-date-right {
    text-align: right;
    font-size: 20px;
}

.timeline-date{
    font-size: 20px;
}

.timeline-title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.timeline-paragraph {
    line-height: 1.5;
    font-size: 24px;
}

@media(max-width: 1463px){
    #timeline{
        max-width: 1300px;
    }
}

@media(max-width: 1359px){
    #timeline{
        max-width: 1000px;
    }
}

@media(max-width: 768px){
    .timeline-title{
        font-size: 28px;
    }

    .timeline-component-bg, .timeline.timeline-component{
        padding: 1em;
    }
}

@media(max-width: 610px){
    .timeline-title{
        font-size: 24px;
    }

    .timeline-paragraph{
        font-size: 20px;
    }
}

@media(max-width: 530px){
    .timeline-title{
        font-size: 20px;
    }

    .timeline-paragraph{
        font-size: 16px;
    }
}

@media(max-width: 480px){
    .timeline-title{
        font-size: 18px;
    }

    .timeline-component {
        margin: 0 10px 10px 10px;
    }


    .timeline-component-bg, .timeline.timeline-component{
        padding: 0.8em;
    }
    .timeline-paragraph{
        font-size: 12px;
    }
}

@media(max-width: 420px){

}
