@import '../globals.css';

#contact-wrapper{
    background-color: var(--main-color-white);
    display: flex;
    justify-content: center;
    color: var(--main-color-black);
    padding: 90px 0;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    margin-right: 100px;
}

.contact-container-hidden{
    color: var(--main-color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    margin-left: 100px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 800px;
    border-radius: 10px; /* Adjust the value to your desired border radius */
    border: 2px solid var(--main-color-black);
    min-width: 600px;
}
.contact-header{
    font-size: 32px;
}

.contact-paragraph{
    font-size: 24px;
}

.first-surname-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.email-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.message-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button-container{
    margin-top: 20px;
}

.socials-container{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.icons{
    padding-top: 100px;
    font-size: 28px;
    font-weight: 500;
    color: var(--main-color-black);
    text-decoration: inherit;
}